
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work Experience</title>
    <style>
        body {
            /* font-family: Arial, sans-serif; */
            line-height: 1.6;
        }
        ul {
            padding-left: 20px;
            list-style-type: disc;
        }
        li {
            margin-bottom: 10px;
        }
        h1 {
            color: #4a4a4a;
        }
    </style>

    
</head>
<body>
    <h1>Work Experience</h1>
    {{ work_experience|safe }}  <!-- Render the "Work Experience" field -->
</body>
</html>
